{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block form %}
    <h2>Property Details</h2>
    {% crispy property_form %}


    <h2>Owner Details</h2>
    <form method="post" id="owner-details">
        {% crispy owner_form %}
    </form>


    <h2>Project Details</h2>
    <form method="post" id="project-details">
        {% crispy project_form %}
        {% crispy permission_form %}
    </form>


    <h2>Other Details</h2>
    <form method="post" id="other-details">

        {% crispy other_details_form %}
    </form>
{% endblock %}

{% block js %}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>


    <script src="{% static 'js/add-bank.js' %}"
            type="application/javascript"></script>

    <script src="{% static 'js/resale.js' %}"
            type="application/javascript"></script>

    <script type="text/javascript">
    function all(){
        $('#id_bank').select2();
        $(".date-field").datepicker({
            changeMonth: true,
            changeYear: true
        });
        resaleCheck();
        addBankCheck();}
    all();
    </script>
{% endblock %}