{% extends 'dashboard.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}


{% block form %}
    {% if messages %}
        <div id="wrong-data" class="alert alert-error alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>

            {% for msg in messages %}
                {{ msg }}
            {% endfor %}

        </div>
    {% endif %}
    <h2>Form Title</h2>
    <hr>
    {% crispy form %}
    <script src="{% static 'js/ajax.js' %}"></script>{% endblock %}