{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css"
          rel="stylesheet"/>
{% endblock %}


{% block content %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post">
            {% crispy project_form %}
            <h4>Add permission</h4>
            {% crispy permission_form %}
            <div class="buttonHolder">
                <input type="submit" name="Submit"
                       value="submit"
                       class="btn btn-primary btn-block"
                       id="submit-id-submit">
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

    <script type="text/javascript">
        $('#id_bank').select2();

    </script>
    <script type="application/javascript">

        if ($('#id_add_bank').is(":checked")) {
            $('#div_id_new_bank').show();
        }
        else
            $('#div_id_new_bank').hide();

        $("#id_add_bank").click(function () {

            if ($('#id_add_bank').is(":checked")) {
                $('#div_id_new_bank').show();
            }
            else
                $('#div_id_new_bank').hide();

        });

    </script>


{% endblock %}