.property-table {
    margin-top: 5%;
}

.buttonHolder {
    text-align: center;
}

#submit-id-submit {
    width: 300px;
}

#add-property-button {
    width: 300px;
}

.col-md-8 {
    text-align: center;
}