.wide {
    float: left;
    width: 47%;
    border-bottom: 1px solid #e2e6ec;
    padding: 8px 0;
    margin-right: 3%;
}
.full-wide{
    border-bottom: 1px solid #e2e6ec;
    padding: 8px 0;
    width: 100%;
}

.address{
    padding-left: 2%;
    margin-bottom: 3%;
    font-size: 120%;
}


.text {
    float: left;
    color: #7f7f7f;
    line-height: 20px;
}

.value {
    float: right;
    line-height: 20px;
}

h1{
    margin-bottom: 0px;
}

.table{
    border:  0px;
    margin:  0%;
}